body {
  
  font-family: Arial, sans-serif;
  padding: 40px;
  background-color: #f8f8f8;
  margin: 0;
}
.container{
  
  display:flex;
  justify-content:center ;
  gap: 20px;
  flex-wrap: wrap;
  
}
 h1 {
  color: #333;
  text-align: center;
  padding: 20px;
  margin: 50px;
}

p {
  
  color: #666;
  text-align: center;
  }

  h2 {
  color: #444;
  margin-top: 50px;
}

.project-card {
  
  background: #e9dcdc;
  padding: 20px;
  margin: 20px auto;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  
}

.project-card img {
 width:80px;
 height:80px;
border-radius: 50%;
margin: 0 20px 16px 0;
}

.project-card h3 {
  color: #333;
  margin-top: 15px;
}

.project-card p {
  color: #666;
}

.project-card a {
  
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.project-card a:hover {
  background-color: #0056b3;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
